@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #000000;
    background-size: cover;
    user-select: none;
}